body {
	background: url('bulletinboardbackground.png');
	color: white;
	font-family: 'Questrial', sans-serif;
}

h2 {
	padding-top: 20px;
	text-align: center;
}

#container {
  width:960px;
  margin:20px auto;
  background: #2a2b2c;
  border-radius: 20px;

}

#content {
  float:left;
  width:640px;
}

#sidebar {
  float:left;
  width:320px;
}

#footer {
  clear:both;
}

.flyer {
	max-width: 520px;
	display: block;
}
.show-entry {
	margin: 0 20px 32px 20px;
	padding: 20px 0 30px 50px;
	background: white;
	color: #2a2b2c;
	border-radius: 20px;
}
.showadder {
	margin: 20px 20px 20px 0;
	padding: 20px 0 30px 20px;
	background: white;
	color: black;
	border-radius: 7px;
}
.date-location-price {
	font-size: 20px;
	margin: 7px 0 10px 6px;
}
.show-name {
	font-size: 24px;
	padding-top: 10px;
	margin-right: 40px;
	text-align: center;
}

.messageboard {
	margin-left: 40px;
	padding: 10px 5px 10px 10px;
	width: 400px;
	border: 1px solid black;
	border-radius: 5px;
}

.each {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px 5px 10px 0;
	padding: 5px 5px 5px 5px;
	background: #D6DBE0;
	color: #2a2b2c;
}

.time {
	color: #4f7dab;
	margin-top: 5px;
	padding-left: 7px;
	font-size: 14px;
}

